<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- Vue.js -->
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
		<!-- <script src="https://cdn.jsdelivr.net/npm/http-vue-loader/dist/httpVueLoader.min.js"></script> -->
		<script src="https://unpkg.com/vue-router@3.5.2/dist/vue-router.js"></script>
		<script src="https://unpkg.com/http-vue-loader"></script>
		<!-- Vuetify -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@2.6.14/dist/vuetify.min.css" />
		<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet" />
		<link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet" />
		<!-- TailwindCSS -->
		<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />

		<script src="https://cdn.jsdelivr.net/npm/vuetify@2.6.14/dist/vuetify.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@preline/preline@1.0.0/dist/hs-ui.bundle.min.js"></script>
		<title>pr</title>
	</head>
	<body>
		<div id="app">
			<v-app dark>
				<!-- ハンバーガーメニュー内 -->
				<v-navigation-drawer app v-model="drawer" clipped elevation="18">
					<v-container>
						<v-list-item to="/" style="color: black; background-color: none">
							<v-list-item-title class="title"> Sotto Creative Studio </v-list-item-title>
						</v-list-item>
						<v-divider></v-divider>
						<v-list nav dense>
							<v-list-group v-for="nav_list in nav_lists" :key="nav_list.name" :prepend-icon="nav_list.icon" no-action :append-icon="nav_list.lists ? undefined : ''">
								<template v-slot:activator>
									<v-list-item-content>
										<router-link :to="nav_list.path" style="color: black">{{ nav_list.name }}</router-link>
									</v-list-item-content>
								</template>
								<v-list-item v-for="list in nav_list.lists" :key="list">
									<v-list-item-content>
										<router-link :to="nav_list.path">{{ list }}</router-link>
									</v-list-item-content>
								</v-list-item>
							</v-list-group>
						</v-list>
						<v-divider></v-divider>
						<div class="bg-gray-100 h-auto rounded-lg mt-4">
							<div class="p-2">
								<p class="font-semibold">SCSは神戸を拠点に活動するクリエイティブ集団です。</p>
								<p class="text-sm">スポンサー・メンバー随時募集しております。以下のフォームより承っております。</p>
								<a href="" class="w-full cursor-pointer text-center">
									<p class="py-1 border-solid border-2 border-black bg-black hover:bg-white transition text-white hover:text-black">Contact us</p>
								</a>
							</div>
						</div>
					</v-container>
				</v-navigation-drawer>
				<!-- ヘッダー部分 -->
				<v-app-bar color="black" dark app clipped-left>
					<v-row align="center" no-gutters>
						<!-- ハンバーガーメニュー -->
						<v-col cols="2">
							<v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
						</v-col>
						<!-- ヘッダータイトル -->
						<v-col cols="8">
							<v-toolbar-title>
								<div class="text-center">Sotto Creative Studio</div>
							</v-toolbar-title>
						</v-col>
						<!-- 右上のログイン -->
						<v-col cols="2" class="text-right">
							<v-toolbar-items>
								<v-btn text><v-icon>mdi-login-variant</v-icon></v-btn>
							</v-toolbar-items>
						</v-col>
					</v-row>
				</v-app-bar>
				<v-content>
					<!-- contentのクラスに関してはtailwindを使用すること -->
					<router-view></router-view>
				</v-content>
				<v-footer color="black" dark app height="auto" class="mt-5 absolute bottom-0" padless>
					<v-container>
						<v-layout justify-center>
							<span>&copy; {{ new Date().getFullYear() }} Sotto Creative Studio</span>
						</v-layout>
					</v-container>
				</v-footer>
			</v-app>
		</div>
		<script>
			const routes = [
				{ name: "top", path: "/", component: httpVueLoader("./component/top.vue") },
				{ name: "music", path: "/music", component: httpVueLoader("./component/music.vue") },
				{ name: "apparel", path: "/apparel", component: httpVueLoader("./component/apparel.vue") },
				{ name: "about", path: "/about", component: httpVueLoader("./component/about.vue") },
			];

			const router = new VueRouter({
				routes,
			});

			const nav_lists = [
				{
					name: "Our Studio",
					icon: "mdi-garage-open",
					path: "/about",
				},
				{
					name: "Music",
					params: "music",
					title: "Music",
					icon: "mdi-music",
					// lists: ["Event", "DJs"],
					path: "/music",
				},
				{
					name: "Apparel",
					params: "apparel",
					title: "Apparel",
					icon: "mdi-tshirt-crew",
					path: "",
				},
				{
					name: "Coding",
					params: "coding",
					title: "Coding",
					icon: "mdi-code-tags",
					path: "",
				},
				{
					name: "Cafe",
					icon: "mdi-coffee",
					lists: ["神戸", "代官山"],
					path: "",
				},
				{
					name: "Graphic",
					icon: "mdi-camera-iris",
					lists: ["Photographer"],
					path: "",
				},
				{
					name: "Fitness Gym",
					icon: "mdi-dumbbell",
					path: "",
				},
			];

			new Vue({
				el: "#app",
				router: router,
				// components: {
				// 	TopComponent: httpVueLoader("./component/top.vue"),
				// 	AboutComponent: httpVueLoader("./component/about.vue"),
				// 	NewsComponent: httpVueLoader("./component/news.vue"),
				// 	QaComponent: httpVueLoader("./component/qa.vue"),
				// 	ArtistComponent: httpVueLoader("./component/artist.vue"),
				// },
				vuetify: new Vuetify(),
				data() {
					return {
						drawer: null,
						nav_lists: nav_lists,
						// theme: {
						// 	themes: {
						// 		light: {
						// 			primary: "#3f51b5",
						// 			secondary: "#b0bec5",
						// 			accent: "#8c9eff",
						// 			error: "#b71c1c",
						// 			text: "#000000", // テキスト色を黒に設定
						// 		},
						// 	},
						// },
					};
				},
			});
		</script>
	</body>
</html>
