<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- Vue.js -->
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
		<script src="https://unpkg.com/vue-router@3.5.2/dist/vue-router.js"></script>
		<script src="https://unpkg.com/http-vue-loader"></script>
		<!-- Vuetify -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@2.6.14/dist/vuetify.min.css" />
		<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet" />
		<link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet" />
		<!-- TailwindCSS -->
		<!-- <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" /> -->
		<script src="https://cdn.tailwindcss.com"></script>

		<link rel="apple-touch-icon" href="img/favicon.ico" />
		<link rel="icon" href="img/favicon.ico" />

		<script src="https://cdn.jsdelivr.net/npm/vuetify@2.6.14/dist/vuetify.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@preline/preline@1.0.0/dist/hs-ui.bundle.min.js"></script>
		<title>Sotto Creative Studio</title>
	</head>
	<body>
		<div id="app">
			<v-app>
				<!-- ハンバーガーメニュー内 -->
				<v-navigation-drawer app v-model="drawer" clipped elevation="18">
					<v-container>
						<v-list-item>
							<v-list-item-title class="title"> Sotto Creative Studio </v-list-item-title>
						</v-list-item>
						<v-divider></v-divider>

						<v-list-item-group v-model="selectedItem">
							<v-list nav dense>
								<v-list-group
									v-for="nav_list in nav_lists"
									:key="nav_list.name"
									:prepend-icon="nav_list.icon"
									no-action
									:append-icon="nav_list.lists ? undefined : ''"
									mandatory
									:color="nav_list.color"
								>
									<template v-slot:activator>
										<v-list-item-content>
											<router-link :to="nav_list.path" class="black--text">{{ nav_list.name }}</router-link>
										</v-list-item-content>
									</template>
									<v-list-item v-for="list in nav_list.lists" :key="list">
										<v-list-item-content>
											<router-link :to="list.path" class="black--text">{{ list.name }}</router-link>
										</v-list-item-content>
									</v-list-item>
								</v-list-group>
							</v-list>
						</v-list-item-group>
						<!-- <v-divider></v-divider> -->
						<!-- <div class="bg-gray-100 h-auto rounded-lg mt-4">
							<div class="p-2">
								<p class="font-semibold">SCSは神戸を拠点に活動するクリエイティブ集団です。</p>
								<p class="text-sm">スポンサー・メンバー随時募集しております。以下のフォームより承っております。</p>
								<router-link :to="contact" class="black--text">Contact us</router-link>
								<div class="bg-emerald-500 px-2 py-2 text-center hover:bg-emerald-600 rounded-lg outline-none transition">
									<a href="/contact.vue" class="">
										<span class="text-white font-semibold">Contact us</span>
									</a>
								</div>
							</div>
						</div> -->
					</v-container>
				</v-navigation-drawer>
				<!-- ヘッダー部分 -->
				<v-app-bar color="black" dark app clipped-left>
					<v-row align="center" no-gutters>
						<!-- ハンバーガーメニュー -->
						<v-col cols="2">
							<v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
						</v-col>
						<!-- ヘッダータイトル -->
						<v-col cols="8">
							<v-toolbar-title>
								<div class="text-center">
									<a href="/" class="white--text">Sotto Creative Studio</a>
								</div>
							</v-toolbar-title>
						</v-col>
						<!-- 右上のログイン -->
						<v-col cols="2" class="text-right">
							<v-toolbar-items>
								<!-- <v-btn text><v-icon>mdi-login-variant</v-icon></v-btn> -->
							</v-toolbar-items>
						</v-col>
					</v-row>
				</v-app-bar>
				<v-content>
					<!-- contentのクラスに関してはtailwindを使用すること -->
					<top-component></top-component>
					<router-view></router-view>
				</v-content>
				<v-footer color="black" dark app height="auto" class="mt-5 absolute bottom-0" padless>
					<v-container>
						<v-layout justify-center>
							<span>&copy; {{ new Date().getFullYear() }} Sotto Creative Studio</span>
						</v-layout>
					</v-container>
				</v-footer>
			</v-app>
		</div>
		<script>
			const routes = [
				// { name: "top", path: "/", component: httpVueLoader("./component/top.vue") },
				{ name: "ourStudio", path: "/", component: httpVueLoader("./component/ourStudio/main.vue") },
				{ name: "music", path: "/music", component: httpVueLoader("./component/music/music.vue") },
				{ name: "apparel", path: "/apparel", component: httpVueLoader("./component/apparel/apparel.vue") },
				{ name: "button", path: "/button", component: httpVueLoader("./component/coding/button.vue") },
				{ name: "prompt", path: "/prompt", component: httpVueLoader("./component/coding/prompt.vue") },
				{ name: "lp", path: "/lp", component: httpVueLoader("./component/coding/lp.vue") },
				{ name: "about", path: "/about", component: httpVueLoader("./component/about.vue") },
				{ name: "contact", path: "/contact", component: httpVueLoader("./contact.vue") },
			];

			const router = new VueRouter({
				routes,
			});

			const nav_lists = [
				{
					name: "Our Studio",
					icon: "mdi-garage-open",
					path: "/ourStudio",
					color: "emerald",
				},
				{
					name: "Music",
					params: "music",
					title: "Music",
					icon: "mdi-music",
					path: "/music",
					color: "emerald",
				},
				{
					name: "Apparel",
					params: "apparel",
					title: "Apparel",
					icon: "mdi-tshirt-crew",
					path: "/apparel",
					color: "emerald",
				},
				{
					name: "Coding",
					params: "coding",
					title: "Coding",
					icon: "mdi-code-tags",
					lists: [
						{
							name: "Button",
							path: "/button",
						},
						{
							name: "Prompt",
							path: "/prompt",
						},
						{
							name: "LP",
							path: "/lp",
						},
					],
					path: "",
					color: "emerald",
				},
				{
					name: "Cafe",
					icon: "mdi-coffee",
					lists: [
						{
							name: "Kobe",
							path: "/kobe",
						},
						{
							name: "Daikanyama",
							path: "/daiyanyama",
						},
					],
					path: "",
					color: "emerald",
				},
				{
					name: "Graphic",
					icon: "mdi-camera-iris",
					lists: [{ name: "Photographer", path: "/photographer" }],
					path: "",
					color: "emerald",
				},
				{
					name: "Fitness Gym",
					icon: "mdi-dumbbell",
					path: "",
					color: "emerald",
				},
			];

			new Vue({
				el: "#app",
				router: router,
				vuetify: new Vuetify(),
				data() {
					return {
						drawer: null,
						selectedItem: null,
						nav_lists: nav_lists,
						components: {
							TopComponent: httpVueLoader("./component/top.vue"),
							AboutComponent: httpVueLoader("./component/ourStudio/about.vue"),
							NewsComponent: httpVueLoader("./component/ourStudio/news.vue"),
							QaComponent: httpVueLoader("./component/ourStudio/qa.vue"),
							ArtistComponent: httpVueLoader("./component/ourStudio/artist.vue"),
							ContactComponent: httpVueLoader("./contact.vue"),
						},
					};
				},
			});
		</script>
	</body>
</html>
